@font-face {
  font-family: "iconfont"; /* Project id 2810226 */
  src: url('iconfont.woff2?t=1632558199806') format('woff2'),
       url('iconfont.woff?t=1632558199806') format('woff'),
       url('iconfont.ttf?t=1632558199806') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiajiao:before {
  content: "\e7b1";
}

.icon-zuoshangjiao:before {
  content: "\e7b2";
}

.icon-gouwuche:before {
  content: "\e634";
}

.icon-shouyeicon:before {
  content: "\e60b";
}

